*{
box-sizing: border-box;
}

body{
margin: auto;
}

.container{
margin: 1rem;
text-align: center;
}


.nav{
background-color: burlywood;
color: chocolate;
display: flex;
justify-content: space-between;
align-items: baseline;
gap: 2rem;
padding: 0 1rem;
}

.site-title{
font-size: 2 rem;
}
.nav ul{
padding:0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;
}
.nav a{
color: inherit;
text-decoration: wavy;
height: 100%;
align-items: center;
padding: .25rem;
}
.nav li.active{
background-color: darkgray;
}
.nav li:hover{
    background-color: cornflowerblue;
}

